body {
    background-color: #e5ecee;
}

div.container{
    box-shadow: rgb(245, 238, 238);
    box-sizing: content-box;
    padding: 2% 2% 2% 2%;
    display: flex;
    align-content:center;
}

div.left {
    color: white;
    border-radius: 10px;
    /* border-top-left-radius: 5%;
    border-bottom-left-radius: 5%; */
    width: 15%;
    float: left;
    background-color: rgb(42, 42, 42);
    padding: 10px;
    padding-bottom: 190px;
    text-align: left;
    height: 300px;
}

div.right{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    width: 75%;
    box-shadow: blueviolet;
    background-color: white;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

h3 {
    font-size: 20px;
}

span.admin {
    font-size: 15px;
    box-sizing: content-box;
    background-color: blue;
    color: white ;
}

div.right-top{
    padding: 2px;
    background-color: white;
    height: 25px;
    width: 78%;
}

div.right-bottom {
    margin-top: 15px;
    background-color: white;
    border: black;
}

.users{
    float: left;
    font-size: 20px;    
}

.addNewUser {
    margin-left: 65%;
    background-color:blue;
    color: white;
}

.addButton {
    background-color:blue;
    color: white;
}

.search {
    float: left;
}

.show{
    width: 100%;
}

.anchor {
    color: white;
    text-decoration: none;
}

.buttonIn {  
    position: relative; 
} 
  
.ask { 
    margin: 0px; 
    padding: 0px; 
    width: 100%;
    outline: none; 
    height: 30px; 
    border-radius: 5px; 
} 
  
button { 
    position: absolute; 
    top: 0; 
    border-radius: 5px; 
    right: 0px; 
    z-index: 2; 
    border: none; 
    top: 2px; 
    height: 25px; 
    cursor: pointer; 
    color: rgb(10, 10, 10); 
    background-color: #eaedf0; 
    transform: translateX(2px); 
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: hsl(180, 10%, 96%);
  }
  
  .svg-icon circle {
    stroke: #f5f4f4;
    stroke-width: 1;
  }