body {
    background-color: #e5ecee;
}

.container{
    margin: auto;
}

.left {
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    width: 15%;
    float: left;
    background-color: rgb(42, 42, 42);
    padding: 10px;
    text-align: left;
    height: 100%;
}

.right{
    float: left;
    padding: 10px;
    width: 81%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.admin {
    font-size: 15px;
    box-sizing: content-box;
    background-color: blue;
    color: white ;
}

.left-top {
    height: 85%;
}

.left-bottom {
    clear: both;
    margin-top: 85%;
    background-color: rgb(123, 121, 124);
}

div.right-top{
    padding: 2px;
    background-color: white;
    height: 25px;
    width: 78%;
    border: black;
    box-shadow: rgb(158, 157, 157);
}

div.right-bottom {
    margin-top: 10px;
    background-color: white;
    border: black;
}

.users{
    display: inline;   
}

.numberOfUsers {
    float: left;
}

.addButtonDiv {
    float: right;
}

.addButton {
    background-color:rgb(95, 39, 248);
    color: white;
    border-radius: 10px;
    widows: 50px;
    height: 30px;
}

.search {
    float: left;
    width: 100%;
}

.userSearch{ 
    margin: 0px; 
    padding: 0px; 
    width: 50%;
    outline: none; 
    height: 30px; 
    border-radius: 5px; 
    text-decoration: none;
}

.show{
    width: 100%;
}

.anchor {
    color: white;
    text-decoration: none;
}

.buttonIn {  
    position: relative;
    width: 100%; 
} 
  
.ask { 
    margin: 0px; 
    padding: 0px; 
    width: 100%;
    outline: none; 
    height: 30px; 
    border-radius: 5px; 
    text-decoration: none;
} 

.askButton {
    margin-top: 2px;
    margin-right: 1%;
    position: absolute; 
    top: 0; 
    border-radius: 5px; 
    right: 0px; 
    z-index: 2; 
    border: none; 
    width:40px;
    top: 2px; 
    height: 25px; 
    cursor: pointer; 
    color: rgb(10, 10, 10); 
    background-color: #eaedf0; 
    transform: translateX(2px); 
}

.userList {
    overflow-x:auto;
}

table {
    font-size: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 1px  gray; 
    margin-top: 5px;
  }

  th, td {
    text-align: left;
    padding: 5px;
    font-size: 15px;
  }

  tr {
    border: 1px solid gray;
  }


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: hsl(180, 10%, 96%);
  }
  
  .svg-icon circle {
    stroke: #f5f4f4;
    stroke-width: 1;
  }